<h2>Plants</h2>

<app-plant-search></app-plant-search>

<div class="plants" style="margin: 2%;padding: inherit;">
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;" *ngFor="let plant of plants">
    <div class="card-header">
      <a routerLink="/detail/{{plant.id}}"><h4 class="card-title text-center mb-0">{{plant.common_name | titlecase}}</h4></a>
    </div>
      <img style="height: 200px; width: 100%; display: block;" src="{{plant.image_url}}" alt="Image of {{plant.common_name}}">
    <div class="card-body">
<!--      <ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item">Cras justo odio</li>-->
<!--        <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--        <li class="list-group-item">Vestibulum at eros</li>-->
<!--      </ul>-->
      <a class="card-link" href="#" >Card link</a>
      <a class="card-link" href="#" >Another link</a>
    </div>
  </div>
</div>


<!--<ul class="plants" style="margin: 2%;padding: inherit;">-->
<!--    <table class="table table-hover">-->
<!--      <tr class="table-primary" *ngFor="let plant of plants">-->
<!--        <th scope="row">{{plant.id}}</th>-->
<!--        <td><a routerLink="/detail/{{plant.id}}">{{plant.common_name | titlecase}}</a></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--</ul>-->
